.editor {
  background: white;
  box-shadow: 0 0 15px -1px #3332;
  width: 35vw;
  padding: 30px 50px;
  border-radius: 5px;
}

.editor,
.editor:focus,
.editor:active {
  border: none;
}

.bold {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.underline {
  border-bottom: 2px solid;
}

.buttons {
  border-radius: 5px;
  background: white;
  margin: 10px 0;
  padding: 0;
  box-shadow: 0 0 15px -1px #3332;
  width: fit-content;
}


button {
  background: white;
  padding: 13px 15px 10px 15px;
  border: none;
  min-width: 60px;
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  background: #eee;
}

button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 1px solid #ccc;
}

button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 1px solid #ccc;
}

button span {
  font-size: 2.5em;
}
